@import "tailwindcss";

@theme inline {
  --color-background: #fefce8;
  --color-foreground: #292524;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.font-likhita {
  font-family: "Noto Sans Gurmukhi", "Arial Unicode MS", "GurbaniWebThick", "Raaj", "Saab", sans-serif;
}
